////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

// BODY
/////////////////////////////////////////////////
body
  font-family: $font-family-default
  color: $primary-dark
  background-color: $white



// LINKS
/////////////////////////////////////////////////
// default style for links
a
  color: $primary
  text-decoration: none
