////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

body
  font-family: $font-family-default
  color: $primary-dark
  background-color: $white
