////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////

h1,
.h1
  +rfs(rem(66px))
  font-weight: 700
  +rfs(rem(50px), margin-top)
  +rfs(rem(30px), margin-bottom)

h2,
.h2
  font-size: rem(22px)
  font-weight: 500
